.App {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EEF2F7;
}

button {
  cursor: pointer;
}

.pomodoro-wrapper {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  
  background: white;
  border-radius: 5px;
  padding: 20px;
}

.timer-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-container {
  #session-label {
    background: -webkit-linear-gradient(45deg, #ff0000, #face3e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #session-length {
    color: white;
    background: -webkit-linear-gradient(45deg, #ff0000, #face3e);
  }
}

.break-container {
  #break-label {
    background: -webkit-linear-gradient(45deg, blue, azure);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #break-length {
    color: white;
    background: -webkit-linear-gradient(45deg, blue, azure);
  }
}
